@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/layout/hero.sass';
@import '~bulma/sass/components/navbar.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/grid/tiles.sass';
@import '~bulma/sass/elements/form.sass';

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
  margin: 0;
}

a:hover, a:active {
  font-weight: bold;
}

.has-bottom-margin:not(:last-child) {
  margin-bottom: .25rem;
}

ul.is-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.highlight {
  background-color: $yellow;
  color: $dark;
}

.navbar.is-fixed-top {
  box-shadow: 0px 5px 10px 0px $grey-light;
}

.content {
  margin-top: $navbar-height;
}

video {
  width: 100%;
}

.tile.is-parent {
  padding-top: 0;
  padding-bottom: .4rem;
}
@include mobile {
  .search {
    width: 100%;
  }
  .tile .video {
    padding-bottom: 0;
    & .video--label {
      text-align: center;
    }
  }
  .index.tile {
    padding-top: 1.25rem;
  }
}

@include tablet {
}

@include desktop {
  .layout {
    flex-direction: row-reverse;
  }
}

